.button1 {
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid black;
}
.button2 {
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
}
.color {
  width: 20px;
  height: 20px;
  /* background-color: rgb(7, 6, 42); */
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.amount {
  border: 1px solid black;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.summary {
  border: 0.5px solid lightgray;
  min-height: 50vh;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
