@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;500;600;700&display=swap");
:root {
  --font-family: "Urbanist", sans-serif;
}

body {
  font-family: var(--font-family) !important;
}
.rating-color {
  color: #ffc908;
}
.cursor-pointer {
  cursor: pointer;
}
.font18 {
  font-size: 18px;
}
.font14 {
  font-size: 14px;
}
.font12 {
  font-size: 12px;
}
.font10 {
  font-size: 10px;
}
.font8 {
  font-size: 8px;
}
